<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="./assets/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="./assets/style.css" />
</head>
<body>
<div id="mapid"></div>

<a href="https://github.com/code4history/JizoProject/wiki"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 500" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<script type="text/html" id="popup-template">
    <div class="poi">
        <h2><%= title %> (<%= address %>)</h2>
        <a href="<%- path %>" target="_blank"><img class="represent" src="<%- mid_thumbnail %>" title="<%= files.reduce((prev, file) => { return path === file.path ? file.description : prev }, null) %>"></a><br>
        <% if (description) { %><b>記述:</b> <%= description %><br><% } %>
        <% if (note) { %><b>メモ:</b> <%= note %><br><% } %>
        <% if (lost) { %><b>現況:</b> 現存せず<br><% } %>
        <% if (need_action) { %><b>アクション要:</b> <%= need_action %><br><% } %>
        <% if (files.length > 1) { %>
        <b>その他の画像:</b><br>
        <div class="parent">
            <% files.map(function(file) { %>
            <% if (file.path != path) { %>
            <div class="child">
                <div><a href="<%- file.path %>" target="_blank"><img src="<%- file.small_thumbnail %>" title="<%= file.description %>"></a></div>
            </div>
            <% } %>
            <% }) %>
        </div>
        <% } %>
    </div>
</script>

<script> MAP_CFG = {
    latLng: [
        34.66472542913676,
        135.83543371143801
    ],
    zoom: 15,
    minZoom: 5,
    maxZoom: 20,
    maxNativeZoom: 19,
    geoJson: './jizo_project.geojson',
    checkProperty: 'title',
    icon: (point, latlng) => {
        const props = point.properties;
        let iconUrl = './assets/hotoke.png';
        let width = 43;
        let height = 48;
        if (props.type === '地蔵') {
            iconUrl = './assets/jizo.png';
            width = 35;
        } else if (props.type === '小祠') {
            iconUrl = './assets/jinja.png';
            width = 52;
        }

        if (props.lost) iconUrl = iconUrl.replace('.png', '_sepia.png');
        else if (props.need_action) iconUrl = iconUrl.replace('.png', '_surprise.png');

        return L.marker(latlng, {
            icon: L.icon({
                iconUrl: iconUrl,
                iconSize: [width, height],
                iconAnchor: [width / 2, height]
            })
        });
    }
} </script>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet-src.js"></script>
<script src="./assets/L.Control.Locate.js"></script>
<script src="./assets/geojson-popup.js"></script>
</body>
</html>