<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css">
    <link rel="stylesheet" href="assets/style.css" />
</head>
<body>
<p id="mapid" style="height:100%; width: 100%"></p>

<script type="text/html" id="popup-template">
    <div class="poi">
        <h2><%= title %> (<%= description %>)</h2>
        <a href="<%- path %>" target="_blank"><img class="represent" src="<%- mid_thumbnail %>"></a><br>
        <% if (note) { %><b>メモ：</b> <%= note %><br><% } %>
        <% if (!brushup) { %>位置アップデート必要<br><% } %>
        <% if (lost) { %><b>現況:</b> 現存せず<br><% } %>
        <% if (need_action) { %><b>アクション要:</b> <%= need_action %><br><% } %>
        <% if (files.length > 1) { %>
        <b>画像:</b><br>
        <div class="parent">
            <% files.map(function(file) { %>
            <% if (file.path != path) { %>
                <div class="child">
                    <div><a href="<%- file.path %>" target="_blank"><img src="<%- file.small_thumbnail %>"></a></div>
                </div>
            <% } %>
            <% }) %>
        </div>
    <% } %>
</div>
</script>

<script> MAP_CFG = {
    latLng: [
        34.66472542913676,
        135.83543371143801
    ],
    zoom: 15,
    minZoom: 5,
    maxZoom: 18,
    geoJson: './jizo_project.geojson',
    checkProperty: 'title',
    icon: (point, latlng) => {
        const props = point.properties;
        let iconUrl = './assets/hotoke.png';
        if (props.type === '地蔵')　iconUrl = './assets/jizo.png';
        else if (props.type === '小祠') iconUrl = './assets/jinja.png';
        return L.marker(latlng, {
            icon: L.icon({
                iconUrl: iconUrl
            })
        });
    }
} </script>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<script src="assets/geojson-popup.js"></script>
</body>
</html>