<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css">
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<p id="mapid" style="height:100%; width: 100%"></p>

<script type="text/html" id="popup-template">
    <div class="ev-charger-popup">
        <h2><%= title %> (<%= description %>)</h2>
    </div>
</script>

<script> MAP_CFG = {
    latLng: [
        34.66472542913676,
        135.83543371143801
    ],
    zoom: 16,
    minZoom: 5,
    maxZoom: 18,
    geoJson: '../jizo_project.geojson',
    checkProperty: 'title'
} </script>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<script src="./geojson-popup.js"></script>
</body>
</html>